<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="regionId" value="cn-shenzhen"/>
    <add key ="accessKeyId" value="LTAIZsyuYcaOa6Dx"/>
    <add key ="secret" value="jn4FJKqiEIjnIHd13eVruAqWGoswmr"/>
    <add key ="appName" value="liveVedio"/>
    <add key ="domainName" value="imlive.xdmr.net"/>
  </appSettings>
</configuration>